gradio
langchain
langchain-core
langgraph
langchain-community
langchain-groq
langchain-chroma
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers
pypdf
duckduckgo-search
ddgs
numpy
pandas
joblib
scikit-learn==1.6.1
tabulate